# Logs
logs
*.log
npm-debug.log*

# PHP
*.php

# npm startup file
start.bat

# Testing environments
/connTest
/commTest
/camTest

# Unused pictures
logo.png
termite_logo.png

# Word files
*.docx
*.tmp

# Node_Modules
node_modules
