/* Her vælger vi teksten som der skal bruges på siden */
*{
 font-family: arial !important;

}

body {
  margin: 0;
  background-color: #FF7F11;
}


/* Et simpelt layout for css grid */
.grid{
  display: grid;
  grid-template-columns:25% 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "header header header header"
  "search main main group"
  "friends main main group"
  "friends main main group"
  "friends main main group"
  "footer footer footer footer";
}

/* Her lister vi vores forskellige dele som skal være på siden */
.header{
  grid-area: header;
  padding-left: 10px;
  background-color: #804009;
  padding-top:10px;
  padding-bottom: 10px;
}

.search{
  grid-area: search;
  background-color: #BF600D;
  text-align: center;
  padding-top: 15px;

}

.friends{
  grid-area: friends;
  background-color: #BF600D;
  padding-left: 10px;
}

.group{
  grid-area: group;
  background-color: #BF600D;
}

.main{
  grid-area: main;
  background-color: #FF8112;
  padding: 5px 5px 5px 5px;
}

.footer{
  grid-area: footer;
  text-align: center;
  padding-top: 5px;
  background-color: #804009;
}

img {
  border-radius: 100%;
  width:100px;
  height:auto;
  position: relative;
  display: block;
  background-color:#ffffff;
  float: left;
}

h1{
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
