/* Et simpelt layout for css grid */
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "header header"
  "friends main"
  "footer footer";
}

/* Her lister vi vores forskellige dele som skal være på siden */
.header{
  grid-area: header;
}

.friends{
  grid-area: friends;
}

.main{
  grid-area: main;
}

.footer{
  grid-area: footer;
}

.grid div:nth-child(even) {
  background-color: red;
}

.grid div:nth-child(odd) {
  background-color: blue;
}
