/* Her vælger vi teksten som der skal bruges på siden */
*{
 font-family: arial !important;

}

body {
  margin: 0;
  background-color: #FF7F11;
}


/* Et simpelt layout for css grid */
.grid{
  display: grid;
  grid-template-columns:25% 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "header header header header"
  "search main main main"
  "friends main main main"
  "friends main main main"
  "friends main main main"
  "footer footer footer footer";
}

/* Her lister vi vores forskellige dele som skal være på siden */
.header{
  grid-area: header;
  padding-left: 10px;
  background-color: #804009;
  padding-top:10px;
  padding-bottom: 10px;
}

.search{
  grid-area: search;
  background-color: #BF600D;
  text-align: center;
  padding-top: 15px;

}

.friends{
  grid-area: friends;
  background-color: #BF600D;
  padding-left: 10px;
}

.main{
  grid-area: main;
  background-color: #FF8112;
  padding: 5px 5px 5px 5px;
}

.footer{
  grid-area: footer;
  text-align: center;
  padding-top: 5px;
  background-color: #804009;
}

img {
  border-radius: 100%;
  width:100px;
  height:auto;
  position: relative;
  display: block;
  background-color:#ffffff;
  float: left;
  margin-left: 10px;
}

h1{
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 100px;
}

.input{
  height: 25px;
  width: 50%;
  font-size: 15px;
  border-radius: 5px;
  border: solid;
  border-width: 1px;
  box-shadow: inset 0px 0px 2px 2px rgba(200,200,200,0.7);
  padding: 10px 10px;
  border-color: #3F3F3F;
  padding-left: 5px;
}
button{
  border: solid;
  border-radius: 5px;
  border-width: 1px;
  box-shadow: 0px 0px 2px 2px rgba(255,133,26,0.7);
  background-color: #603813;
  color: #FFFFFF;
  font-size: 15px;
  cursor: pointer;
  transition: .2s;
  border: solid 1px #603813;
  position: relative;
  margin-left: 5px;
  margin-right: auto;
  text-align: center;
  width: 30%;
}
