/*
 * GENERAL SETTINGS
 */
body {
  margin: 0;
  background-color: #FF7F11;
}

* {
  box-sizing: border-box;
}

#content {
  margin: 0 10%;
  width: 80%;
  background-color: #FF7F11;
  padding: 60px 0;
}

.form {
  width: 40%;
  margin: 0 30% 10px 30%;
}

.input {
  padding: 4px 6px;
  width: 40%;
  border: none;
  border-bottom: solid 1px #603813;
  margin: 0 0 40px 0;
  font-size: 18px;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  display: block;
}

.logoloader{
   margin-left: auto;
   margin-right: auto;
   padding:10px;
   position: relative;
   display: block;
   width: 55%;
   padding-bottom: 50px;
}

.logo {

  width:100%;
  height:auto;
  position: relative;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 0px;
}
